html, body {padding: 0; margin: 0; box-sizing: border-box;}
*, *:before, *:after {
    box-sizing: inherit;
}
.main {
    width: 100%;
    height: 100vh;
    background: url(bg.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Container {
    text-align: center;
    width: 100%;
}
h1 {
    color: white;
    font-weight: bold;
    font-size: 130px;
    text-transform: uppercase;
    line-height: 0.8;
    font-family: sans-serif;
    margin-top: -50px;
}
p {
    text-transform: uppercase;
    font-weight: 300;
    font-family: sans-serif;
    letter-spacing: 8px;
    color: white;
    margin-top: -20px;
}
.button {
    display: inline-block;
    padding: 8px 25px;
    border: 0px solid black;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: black;
    margin-top: 10px;
}
.Container a:hover {
    background-color: #477afa;
    transition: 1s;
}
.bottom {
    background-color: black;
    width: 100%;
    bottom: 0;
    height: 70px;
    display: table;
}
.link {
    display: inline-block;
    padding: 8px 15px;
    border: 0px solid black;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: black;
}
.text {
    height: 70px;
    line-height: 54px;
    margin-left: 170px;
    font-size: 14px;
}
.text a:hover {
    background-color: #477afa;
    transition: 1s;
}
.section {
    display: flex;
}
.block {
    margin-top: 90px;
    margin-left: 190px;
}
.letter {
    display: inline-block;
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    margin-left: 20px;
    margin-bottom: 70px;
}
h2 {
    font-weight: 800;
    font-size: 19px;
} 
h3 {
    margin-top: 15px;
    font-weight: 300;
    margin-right: 80px;
    font-size: 14px;
}
.end {
    width: 100%;
    height: 100vh;
    background: url(jumbotron_bg.jpg) center no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
}
.main2 {
    margin-right: 100px;
    text-align: right;
    margin-top: 0px;
}
h4 {
    font-family: sans-serif;
    font-weight: 800;
    font-size: 20px;
    margin-right: 0px;
    margin-top: -40px;
}
h5 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
}
.button2 {
    display: inline-block;
    padding: 8px 50px;
    border: 0px solid #477afa;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    background-color: black;
    margin-top: px;
}
.main2 a:hover {
    background-color: #477afa;
    transition: 1s;
}
.bottom2 {
    background-color: black;
    width: 100%;
    bottom: 0;
}
h6 {
    font-size: 15px;
    font-weight: 300;
    margin: 15px 0px;
    color: white;
}